/******************* Iphone SE *********************/
@media only screen and (max-width: 768px) {
	.ml-0{
		margin-left: 0px;
	}
	.home .home-right{
		margin-top: 120px;
	}
	.home .home-right .home-content .text-3 {
	    font-size: 34px;
	}

	.about-title h6:before{
	    display: none;
	}
	.about-title h6:after{
	    display: none;
	}
	.skills-section{
		height: 100% !important;
	}
}

@media only screen and (max-width: 1024px) {
	.ml-0{
		margin-left: 0px;
	}
	.home .home-right{
		margin-top: 250x;
	}

	.about-title h6:before{
	    display: none;
	}
	.about-title h6:after{
	    display: none;
	}
}
